body, h3, button { margin: 0; padding: 0;}
.container { text-align: center; margin-top: 50px;font-family: 'Arial', sans-serif;}
h3 { font-size: 28px; margin-bottom: 20px;color: #333; }
.joke {  background-color: #fff;  border: 2px solid #3498db;  padding: 30px;margin-bottom: 20px; border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
#jokeBtn {background-color: #3498db;  color: #fff; border: none;  padding: 12px 24px;font-size: 18px;border-radius: 25px;  cursor: pointer;  transition: background-color 0.3s ease; }
.btn:hover {background-color: #2980b9; }
